{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
  


<div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 no-gutter">
            <h1>My City of Gotham</h1>
            <p>Manage your services online with a City of Gotham Account or view local services and information specific to your property using <a href="#mycog">My City of Gotham</a></p>
            
          </div>
          <div class="col-sm-4 col-sm-offset-1 cog-mga-hero hidden-xs">
            <h2>Login to your City of Gotham Account</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <div class="content">
	    <div class="container">
	        <div class="row" id="mycog">
		        <h2>My City of Gotham</h2>
		        <p>view local services and information specific to your property using</p>
		        <input type="text" name="postcode">
		        <button type="submit">Search</button>
		        
	        </div>
	    </div>
    </div>
{% endblock %}