<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>City of Gotham</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//cog.gulpdigital.com/assets/css/cog-theme.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head %}{% endblock %}
    <style type="text/css">
    	label {
    		display: block;
    		font-size: 16px;
    		font-weight: 400;
    		margin: 0;
    	}
    	input[type="text"], input[type="password"], input[type="tel"],input[type="number"], input[type="textarea"] {
    		border: none;
    		color: #333;
    		padding: 0 10px;
    		font-size: 16px;
    		width: 100%;
    	}

    	.content input[type="text"] {
    		margin-bottom: 20px;
    		border: 1px solid #ccc;
    	}
    	button {
    		margin: 0;
			padding: 8px 16px;
			height: 48px;
			text-align: center;
			display: block;
			background-color: #4A90E2;
			border: none;
    	}
    </style>
  </head>
  <body>
  	{% include 'partials/navbar.html' %}
    {% block body %}{% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript">
      $("a[href^='#']").on('click', function(e) {

        // prevent default anchor click behavior
        e.preventDefault();

        // store hash
        var hash = this.hash;

        // animate
        $('html, body').animate({
        scrollTop: $(hash).offset().top
        }, 400, function(){

        // when done, add hash to url
        // (default click behaviour)
        window.location.hash = hash;
        });

      });
    </script>
  </body>
</html>